@model Entity.ConCrete.Episode
@{
    ViewBag.Title = "episodeInsert";
    Layout = "~/Views/Shared/UserTemplate.cshtml";
}

<style>
    body {
        background: #f7f7ff;
        margin-top: 20px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }

    .me-2 {
        margin-right: .5rem !important;
    }
</style>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("episodeUpdate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row mb-3">
                                <div class="col-sm-9 text-secondary">
                                    <input type="hidden" class="form-control" name="episodeID" value="@Model.episodeID">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bölüm Adı</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="episodeName" value="@Model.episodeName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bölüm Hakkında Açıklama</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="description" value="@Model.description">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button type="submit" class="btn btn-primary">Bölümü Güncelle</button>
                                </div>
                            </div>
                        }
                    </div>
                    @if (TempData["hata"] != null)
                    {
                        <div class="alert-warning animate__animated animate__fadeInLeft">
                            <strong>@TempData["hata"]</strong>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

